<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
	<head th:replace="base :: head">
		<meta charset="ISO-8859-1"/>
		<title>Insert title here</title>
	</head>
	<body>
		<nav th:replace=" base :: nav"></nav>
		<div class="container">
			<div th:each="education: ${eduList}">
			<p th:text="${education.typeOfDegree}"></p>
			<p th:text="${education.institute}"></p>
			<p th:text="${education.year}"></p>
			</div>
			<div th:if="${eduList!=null}">
				<a th:href="@{'/education/add/'+ ${personId}}">add education</a>
				<a th:href="@{'/experience/add/'+ ${personId}}">next</a>
			</div>
		</div>
		
	</body>
</html>