<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="base :: head">
		<meta charset="ISO-8859-1"/>
		<title>Insert title here</title>
	</head>
	<body>
	<nav th:replace=" base :: nav"></nav>
		<div class="jumbotron">
	  		<div class="container">
	  			<div th:if="${all==null}">
	  				<h1>Start using the robo resume by searching jobs, people, companies and many more...</h1>
	  			</div>
				<table th:if="${all!=null}" class="table table-hover">
					<tr>				
	                    <th>Name</th>
	                    <th>Email</th>
	                    <th>Degree</th>
	                    <th>Skills</th>
				    </tr>
					<div th:each="person: ${all}">
					<tr> 
						
						<td><a th:href="@{'/resume/' + ${person.personId}}" ><h3 th:text="${person.firstName} + ' ' + ${person.lastName}"></h3></a></td>
						<td><h4 th:text="${person.email}"/> </td>
						<td>
							<p th:each="education: ${person.eduList}">
								<h4 th:text="${education.typeOfDegree}"></h4>
							</p>
						</td>
			            <td>
			            	<h4 th:each="skill: ${person.skillList}" th:text="${skill.skill} "/>
									
						</td>	
					</tr>
					</div> 
				</table>
			</div>
		</div>   
	</body>
</html>