<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="base :: head">
		<meta charset="ISO-8859-1"/>
		<title>Insert title here</title>
	</head>
	<body>
	<nav th:replace=" base :: nav"></nav>
			<div class="container">
				<table class="table table-hover">
					<tr>
						<th>Id</th>					
	                    <th>Name</th>
	                    <th>Email</th>
	                    <th>Degree</th>
	                    <th>Skills</th>
				    </tr>
					<div th:each="person: ${all}">
					<tr> 
						<td th:text="${person.personId}"/>
						<td><a th:href="@{'/resume/' + ${person.personId}}" ><h3 th:text="${person.firstName} + ' ' + ${person.lastName}"></h3></a></td>
						<td><h4 th:text="${person.email}"/> </td>
						<td>
							<p th:each="education: ${person.eduList}">
								<h4 th:text="${education.typeOfDegree}"></h4>
							</p>
						</td>
			            <td><p th:each="skill: ${person.skillList}">
								<span th:text="${skill.skill} "/>
							</p>
						</td>	
					</tr>
					</div> 
				</table>
			</div>   
	</body>
</html>