<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="base :: head">
		<meta charset="ISO-8859-1"/>
		<title>Insert title here</title>
	</head>
	<body>
		<nav th:replace=" base :: nav"></nav>
		<div class="jumbotron">
	  		<div class="container">
				<strong><p th:text="'Title:' + ${job.title}"></p></strong>
				<p >Company: <span th:text="${job.employer}"/></p>
				<p >Description: <span th:text="${job.description}"/></p>
				<p >Salary: <span th:text="${job.salary}"/></p>
				<p >Posted Date: <span th:text="${#dates.format(job.postedDate, 'MMM-dd-yyyy')}"/></p>
				<p>Skills</p>
					<ul th:each="skill : ${skills}">
						<li> <p th:text="${skill.skill}"/></li>
					</ul>
					<br/>
				<div></div>
			</div>
		</div>
	</body>
</html>