<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="base :: head">
		<meta charset="ISO-8859-1"/>
		<title>Insert title here</title>
	</head>
	<body>
		<nav th:replace=" base :: nav"></nav>
		<div class="jumbotron">
			<div class="container">
					<div  th:each="person: ${person}">
							<h2 th:text="${person.firstName} + ' ' + ${person.lastName}"/>
							<h4 th:text="${person.email}"/> 
					</div>	
					<br/>
					<div th:if="${educations!=null}">
						<strong><p th:if="${educations!=null}" class="container-block-title">Education</p></strong>
							
				        <ul th:each="education: ${educations}">
							<p th:text="${education.typeOfDegree}"></p>
							<p th:text="${education.institute}"></p>
							<p th:text="${education.endYear}"></p>
							<br/>	
						</ul>
					</div>
					<div th:if="${experiences!=null}">
					<strong><p  class="container-block-title" th:text="Experience"></p></strong>
						
							<ul th:each="experience: ${experiences}">
									<b><p th:text="${experience.title}"></p></b>
									<p th:text="${experience.company}"></p>
									<p th:text="${experience.sDate} + ' to ' + ${experience.eDate}"></p>
									<p>Duties</p>
									<ul > 
										<li th:each="duty : ${experience.duties}">
											<p  th:text="${duty}"></p>
										</li>
									</ul>
								<br/>
							</ul>
						
						</div>
						<div th:if="${skills!=null}">
						<strong><p class="container-block-title">Skills</p></strong>
							<table class="table table-hover">
								<tr>				
				                    <th>Skill</th>
				                    <th>Rating based on scale of one to ten</th>
				                </tr>
							<div th:each="skill: ${skills}">
								<tr>	
									<td> <p th:text="${skill.skill}"></p></td>
									<td> <p th:text="${skill.proficiency}"></p></td>
									
								</tr>
							</div>
							</table>
						</div>
				</div> 
			</div>
			  
</body>
</html>