<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="base :: head">
		<meta charset="ISO-8859-1"/>
		<title>Insert title here</title>
	</head>
	<body>
		<nav th:replace=" base :: nav"></nav>
		<div class="container">
			<div th:each="skill: ${skList}">
				<p th:text="${skill.skill}"></p>
				<p th:text="${skill.proficiency}"></p>
			</div>
			<div th:if="${skList!=null}">
				<a th:href="@{'/skill/add/' + ${personId}}">Add skill</a>
				<a th:href="@{'/resume/' + ${personId}}">Done</a>
			</div>	
		</div>		
	</body>
</html>